<div class="item-detail">
  <figure>
    <img src="/images/blank_image.png" />
  </figure>
  <div class="item-detail-content">
    <h1><%=item.name%></h1>
    <p><%=item.description%></p>
    <div>
      <p><strong>Price: ₱<%=item.price%></strong></p>
      <p><strong>In Stock: <%=item.number_in_stock%> pcs.</strong></p>
    </div>
    <div class="buttons-container">
      <a href="/inventory/item/<%=item._id%>/update"
        ><button class="btn">Update Product</button>
      </a>
      <a href="/inventory/item/<%=item._id%>/delete">
        <button class="btn delete">Delete Product</button>
      </a>
    </div>
  </div>
</div>
