<div>
  <h1 class="title"><%=title%></h1>
  <div>
    <ul class="item-list">
      <% if(typeof item_list !== 'undefined') {for(let item of item_list) { %>
      <li>
        <a href="/inventory/item/<%=item._id%>">
          <div class="card">
            <figure>
              <img src="../images/blank_image.png" />
            </figure>
            <div class="card-body">
              <h3 class="card-title"><%= item.name %></h3>
              <div class="card-info">
                <p>In Stock: x<%=item.number_in_stock%></p>
                <p>Price: ₱<%=item.price%></p>
              </div>
            </div>
          </div>
        </a>
      </li>
      <% }} else { %>
      <h2>No Items found.</h2>
      <%}%>
    </ul>
  </div>
</div>
